services:
  pdns-auth:
    image: powerdns/pdns-auth-50
    user: root
    ports:
      - "8081:8081"
    volumes:
      - lmdb_test_data:/data
      - ./test/pdns.conf:/etc/powerdns/pdns.conf
      - ./test/init-pdns-auth.sh:/usr/local/bin/init-pdns-auth.sh
    entrypoint: /usr/local/bin/init-pdns-auth.sh
    restart: unless-stopped

  pdns-rec:
    image: powerdns/pdns-recursor-49
    user: root
    ports:
      - "8082:8082"
    volumes:
      - pdns_rec_data:/etc/powerdns/recursor/api-config
      - ./test/recursor.conf:/etc/powerdns/recursor.conf
      - ./test/init-recursor.sh:/usr/local/bin/init-recursor.sh
    entrypoint: ["/bin/sh", "/usr/local/bin/init-recursor.sh"]
    restart: unless-stopped

volumes:
  lmdb_test_data:
  pdns_rec_data:
